:root {
	font-family: 12px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #effbff;
	font-family: 'Tenorite', sans-serif;
	color:black;
}

.navigation {
	background: #005792;
	color: white;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	border-block-end: 1px solid #00bbf0;
/*	filter: drop-shadow(0px 0px 1px black);*/
}

nav {
	max-width: 1200px;
	margin:0 auto;
}

.title {
	font-size:2rem;
	padding:20px 20px;
}

.page-content {
	margin:100px auto;
	max-width:1200px;
	display:grid;
	grid-template-columns: 1fr 250px;
}

.output-section {
	display:flex;
	flex-direction:column;
}

.output-section > * {
	padding:20px;
}

i {
	color: #1088eb;
}

.main-section {
	border-top: 1px solid #ccc;
}

.stats-section {
	border-inline-start: 1px solid #ccc;
	border-inline-end: 1px solid #ccc;
	padding:20px;
}

.stats-section {
	text-align: center;
}

.control-section {
	display:flex;
	justify-content:space-between;
	font-size:1.6rem;
}

.collections {
	font-weight:500;
	display:flex;
	gap: 10px;
	align-items:center;
}

.button {
	background:none;
	outline:none;
	color:#1088eb;
	background: transparent;
	border:2px solid #1088eb;
	padding:1rem 2rem;
	font-size:0.8rem;
	border-radius:12px;
	text-transform: uppercase;
}

.button i {
	margin-left:5px;
}

.button:hover {
	cursor:pointer;
}

.delete {
/*	background:red;*/
	color:red;
	border:1px solid red;
	font-weight: 400;
}

.form-container {
/*	display:none;*/
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	border-radius:12px;
	padding:20px 32px;
/*	background:black;*/
	border: 1px solid #ccc;
}

.form-footer {
	margin-top:30px;
}

.form-header {
	padding:30px;
	font-size:2rem;
	text-align:center;
	font-weight:400;
}

.form-row {
	display:flex;
	flex-direction:column;
	gap:5px;
}

input,
select {
	background:none;
	border:1px solid #1088eb;
	border-radius:4px;
	padding:8px 14px;
	width:100%;
	margin-bottom:10px;
}

table {
	margin-top:20px;
	width:100%;
	font-size:1.4rem;
	text-align:left;
}



tr {
}

tr:hover {
	cursor:pointer;
	background: #ccc;
}

table tr td{
	border-top:1px solid #ccc;
	padding:10px 0;
}

th {
	font-weight:300;
}

td {
}


.add-btn {
	color:white;
	background: #1088eb;
	border: 1px solid transparent;
	outline:none;

}

.add-btn:hover {
	transform: scale(1.01);
}


#overlay {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	pointer-events: none;
}

#overlay.active {
	pointer-events: all;
	background: rgba(0,0,0,0.5);
}

.modal-form {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%) scale(0);
	transition:300ms ease-out-in;
	padding:20px 30px;
	z-index:10;
	border-radius: 8px;
	background:#eefbff;
}

.modal-form.active {
	transform: translate(-50%, -50%) scale(1);
}

.submit-book {
	width:100%;
	color:white;
	background:#1088eb;
}

.control {
	text-align:right;
}

.close-btn {
	font-size:2rem;
	font-weight: 800;
	color:red;
	background:none;
	border:none;
}

.close-btn:hover {
	cursor:pointer;
}

.modal-control {
	text-align:right;
}


/*
font-family: 'Tenorite', sans-serif;
*/